*{
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --logo: #D04F4F;
    --blue: #3282F7;
    --green: #68D9A4;
    --orange: #ED6454;
    --grey: #E7E7E7;
    --white: #ffffff;
    --black: #000000;
}

body{
    font-size: 18px;
    width: 1240px;
    margin: 0 auto;
}

h1{
    font-family: 'DM Sans', sans-serif;
    color: var(--logo);
    font-size: 2rem;
    margin-top: 0;
}

h2{
    font-size: 1rem;
}

/*----------HEADER----------*/
header{
    text-align: center;
}

header img{
    width: 50px;
    height: 46px;
}

/*----------SEARCH ZONE----------*/
#researchZone{
    position: relative;
    margin: 0 auto;
    
}

#searchZone{
    display: flex;
    align-items: center;
    width: 100%;
    height: 69px;
    border-radius: 5px;
    background-color: var(--grey);
    border: transparent;
    margin-bottom: 1rem;
}

#searchZone_Input{
    width: 100%;
    height: 69px;
    background-color: transparent;
    opacity: 0.25;
    border: transparent;
    padding: 2rem;
    margin-right: -48px;
    font-size: 1.5rem;
}

.fa-search{
    color: var(--black);
    font-size: 1.5rem;
}

/*----------FILTER ZONE----------*/
#filterZone{
    display: flex;
    justify-content: flex-start;
}

#filterZone div{
    position: relative;
}

#ingredients_button,
#apparels_button,
#ustensils_button{
    width: 170px;
    height: 69px;
    border-radius: 5px;
    border: transparent;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    padding: 10px;
    display: relative;
}

#ingredients_button{
    background-color: var(--blue);
}

#apparels_button{
    background-color: var(--green)
}

#ustensils_button{
    background-color: var(--orange);
}

.filters{
    border: transparent;
    background-color: transparent;
    color: var(--white);
    font-size: 1rem;
}

.filterButtons i {
    position: absolute;
    top: 27px;
    right: 1.5rem;
}

#ingredientsUp,
#appareilsUp,
#ustensilesUp {
    display: none;
}


/*----------RECIPES ZONE----------*/
#recipesZone{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-top: 50px;
}

#recipesZone article{
    width: auto;
    height: 364px;
    border-radius: 5px;
    background-color: var(--grey);
}

#recipesZone article img{
    width: 380px;
    height: 178px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#recipeHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: auto;
}

#recipeTimer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

#recipeContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 25px;
}

#recipeIngredients {
    padding: 10px;
}

#recipeIngredients p{
    font-size: 0.8rem;
    margin: 0;
}

#recipeDescription{
    font-size: 0.8rem;
    margin: 0;
    padding: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; 
    text-overflow: ellipsis;
    overflow:hidden;
}
